@use 'normalize';
@use 'skeleton';


body {
  padding:40px;
}
h2 {
  font-size:1.8rem
}
th {
  line-height: 1;
}

.asc,
.desc {
  position: relative;
  padding-right: 12px;
  line-height: 1;
  &:after {
    position: absolute;
    top:50%;
    margin-top: -6px;
    margin-left: 4px;
    display: inline-block;
    content:"▾";
  }
}

.asc {
  &:after {
    transform: rotate(0deg);
    }
}

.desc {
  &:after {
    transform: rotate(180deg);
  }
}

.readDate {
  white-space: nowrap;
}
