@use 'normalize';
@use 'skeleton';


.asc {
  position: relative;
  padding-right: 12px;
  line-height: 1;
  &:after {
    position: absolute;
    top:50%;
    margin-top: -6px;
    margin-left: 4px;
    display: inline-block;
    content:"▾";
    transform: rotate(0deg);
    }
}

.desc {
  position: relative;
  padding-right: 12px;
  line-height: 1;
  &:after {
    position: absolute;
    top:50%;
    margin-top: -6px;
    margin-left: 4px;

    display: inline-block;
    content:"▾";
    transform: rotate(180deg);
  }
}